.alert-error {
  color: red;
  background: rgb(255, 181, 181);
  height: 3rem;
  padding: 2.5rem 0 0 2rem;
}

body {
  margin: 1rem 4rem;
}

header {
  background: rgb(0, 65, 206);
  color: white;
  height: 3rem;
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

select {
  margin-left: 1rem;
  height: 2rem;
}

main {
  display: flex;
  background: rgb(235, 235, 235);
}

section {
  width: 100%;
  margin: 0.2rem;
  background: white;
}

ul {
  padding-left: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

.repo-container li {
  margin-bottom: 0.5rem;
  padding: 1rem 0 1rem 2rem;
  border: 0.1px solid silver;
  line-height: 1.3rem;
  box-shadow: 0.2rem 0.2rem 1rem silver;
}

th {
  vertical-align: baseline;
}

.contributors-container li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 1px solid rgb(235, 241, 255);
}

h4 {
  color: rgb(110, 110, 110);
  padding-left: 1rem;
}

img {
  flex: 0 0 4rem;
  height: 4rem;
  border-radius: 8%;
}

.login {
  flex: 1;
  margin-left: 2%;
}

.login a {
  text-decoration: none;
}

.contributions {
  display: inline-table;
  background: rgb(110, 110, 110);
  padding: 0.2rem 0.4rem;
  color: white;
  border-radius: 10%;
}

@media screen and (max-width: 480px) {
  body {
    margin: 0.5rem 0.5rem;
    font-size: 1.3rem;
  }

  header {
    height: auto;
    flex-direction: column;
    margin-bottom: 1rem;
    padding: 1rem 0;
  }

  select {
    margin-top: 0.5rem;
  }

  main {
    flex-direction: column;
  }

  li {
    padding-left: 1rem;
    line-height: 1.8rem;
  }
}

@media screen and (max-width: 768px) and (min-width: 481px) {
  body {
    margin: 1rem 1rem;
    font-size: 1.1rem;
  }

  header {
    height: auto;
    flex-direction: column;
    margin-bottom: 1rem;
    padding: 1rem 0;
  }

  select {
    margin-top: 0.5rem;
  }

  main {
    flex-direction: column;
  }

  li {
    padding-left: 1.5rem;
    line-height: 1.5rem;
  }
}
